<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${'Professor: ' + person.id}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

td, th {
	text-align: center;
}
</style>
</head>
<body>
	<center>
		<h1>Professor info</h1>
	</center>
	<div>
		<table style="width: 100%">
			<tr>
				<th>id</th>
				<th>name</th>
				<th>surname</th>
				<th>birth_municipality</th>
				<th>department</th>
				<th>salary
				</td>
			</tr>
			<tr>
				<td th:text="${person.id}"></td>
				<td th:text="${person.name}"></td>
				<td th:text="${person.surname}"></td>
				<td><a
					th:href="@{/municipalities/{id}(id = ${person.birthMunicipality.id})}">
						<p th:inline="text" th:remove="tag">
							[[${person.birthMunicipality.id}]]</p>
				</a></td>
				<td><a
					th:href="@{/departments/{id}(id = ${person.department.id})}">
						<p th:inline="text" th:remove="tag">[[${person.department.id}]]</p>
				</a></td>
				<td th:text="${person.salary}"></td>
			</tr>
		</table>
	</div>
	<div>
		<fieldset>
			<legend>Update professor</legend>
			<form method="POST"
				th:action="@{'/people/update/' + ${person.id}}">
				Name <input type="text" name="name" th:value="${person.name}"> <br>
				Surname <input type="text" name="surname" th:value="${person.surname}"> <br>
				Birth municipality <input type="number" name="birthMunicipalityId" th:value="${person.birthMunicipality.id}"> <br>
				Department <input type="number" name="departmentId" th:value="${person.department.id}"> <br>
				Salary <input type="number" name="salary" th:value="${person.salary}"> <br>
				<input type="submit" value="Submit">
			</form>
		</fieldset>
	</div>
	<a href="http://localhost:8080/people/professors/">Show all professors</a>
	<a href="http://localhost:8080/people/">Show all people</a>
	<a href="http://localhost:8080">Home</a>
</body>
</html>